<div class="bg-image">
</div>
<hr>
<h1 class="animate__animated animate__zoomInDown animate__repeat-2" id="head1">My Goals</h1>
<div class="row">
  <div class="col-md-6">
    <div *ngFor='let goal of goals;let i = index'>
      <div>
        <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
        <button class="animate__animated animate__rubberBand animate__repeat-3" (click)='toggleDetails(i)' id="btn btn-primary">See description</button>
      </div>

      <div *ngIf='goal.showDescription'>
        <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
  </div>

<p *ngIf='goals.length > 5'>You have too many goals!</p>

</div>
